@{
    ViewBag.Title = "Home Page";
}

        <div class="jumbotron">
            <a href="http://epc.rs/">
                <img src="~/Images/epc logo.jpg" />
                <h3>@ViewData["CountRentedPrinters"]</h3>
            </a>
        </div>
    

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="http://npejic-001-site1.htempurl.com/Sales/SalesReportByOwner">Izveštaj br.1 &raquo;</a></p>
        <p>
            @*//TODO: Izbriši hiperlink u tački (dole) i popravi link za izveštaj ReportByOwner (gore)*@
            Lokacije štampača po odgovarajućem ugovoru za izabranog vlasnika @Html.ActionLink(".", "SalesReportByOwner", "Sales")
        </p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="http://npejic-001-site1.htempurl.com/Contracts/InactiveOwners">Izveštaj br.2 &raquo;</a></p>
        <p>Neaktivni ugovori</p>
    </div>
    <div class="col-md-4">
        <h2>.</h2>
        <p>.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">. &raquo;</a></p>
    </div>
</div>
