@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <a href="http://epc.rs/">
       <img src="~/Images/epc logo.jpg" />
    </a>
    @*<p class="lead"></p>
    <p><a href="http://epc.rs/" class="btn btn-primary btn-lg"> EPC - We print your world! - link to site. &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="http://localhost:51152/Home/ReportByOwner">Izveštaj br.1 &raquo;</a></p>
        <p>
            Lokacije štampača po odgovarajućem ugovoru za izabranog vlasnika.
        </p>
    </div>
    <div class="col-md-4">
        <h2>.</h2>
        <p>.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">. &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>.</h2>
        <p>.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">. &raquo;</a></p>
    </div>
</div>