@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OGNJENE,</h1>
    <img src="~/Images/epc logo.jpg" />
    <p class="lead">Sutra mi treba slobodan dan, ako nije problem.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">. &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>.</h2>
        <p>
            .
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">. &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>.</h2>
        <p>.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">. &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>.</h2>
        <p>.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">. &raquo;</a></p>
    </div>
</div>