
@{
    ViewBag.Title = "Login";
}

@{
    Layout = null;
}



<div class="jumbotron"
     style="text-align:center;">
    <h2>EPC printer & toner tracking application</h2>
    <a href="http://epc.rs/">
        <img src="~/Images/epc logo manji.jpg" />
    </a>
    <h1></h1>
</div>

@using (Html.BeginForm())
{
    <div class="table" style="text-align:center;">
        <div></div>
        <div>
            @Html.Label("User 1Name: ") @Html.TextBox("userName") @Html.Label("Password:   ")@Html.Password("Password") <input type="submit" value="Login" />
        </div>
        @*<div><h3> Ukupan broj prodatih tonera @ViewData["CountRentedPrinters"].</h3></div>*@
        </div>
        }
