
@{
    ViewBag.Title = "Login";
}

@{
    Layout = null;
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    <div>@Html.Label("User Name")</div>
    <div class="col-md-10">@Html.TextBox("userName")</div>
    <div>@Html.Label("Password")</div>
    <div>@Html.Password("Password")</div>
    @*@Html.Password("password", "", new { id = "password", Textmode = "Password" })*@
    <input type="submit" value="Login" />
       
}
