<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://npejic-001-site1.htempurl.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://npejic-001-site1.htempurl.com:8172/MsDeploy.axd?site=npejic-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>npejic-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\npejic-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PrinterTonerContext" Order="1" Enabled="False">
          <Destination Path="Data Source=sql5031.smarterasp.net;Persist Security Info=True;User ID=DB_A181D0_npejic_admin;Password=Delfin123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PrinterTonerEPC.DAL.PrinterTonerContext, PrinterTonerEPC" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PrinterToner" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=mssql5.gear.host;Initial Catalog=epc;Integrated Security=False;User ID=epc;Password=epc!23" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PrinterToner_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=mssql5.gear.host; Initial Catalog=epc;Integrated Security=False;User Id=epc;Password=epc!23;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PrinterToner-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PrinterTonerContext-Web.config Connection String">
      <ParameterValue>Data Source=sql5031.smarterasp.net;Persist Security Info=True;User ID=DB_A181D0_npejic_admin;Password=Delfin123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="PrinterTonerContext" />
  </ItemGroup>
</Project>